html {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

.banner {
  height: 70px;
}

.ml-auto {
  margin-left: auto;
}

.fondo {
  background: linear-gradient(to right, rgb(49, 49, 122), GREY);
  margin: 0px;
}

.title{
  text-align: center;
  font-weight: 600 ;
}
.margin{
  padding-top: 80px;
}
.margin-b{
  padding-bottom: 100px;
}

.carousel-item img{
  height: 160px;
}
.carousel-inner{
  max-height: 300px;
}

ul, li {
  list-style: none;
}